@charset "UTF-8";

/**font-face**/
@font-face {
    font-family: noah-bold;
    src: url(../font/Noah-Bold.otf);
}

@font-face {
  font-family: noah-regular;
  src: url(../font/Noah-Regular.otf);
}

@font-face {
  font-family: noto-light;
  src: url(../font/NotoSansKR-Light.otf);
}

@font-face {
  font-family: noto-black;
  src: url(../font/NotoSansKR-Black.otf);
}

/**root**/
:root{
    --main-black: rgb(0,0,0);
}


/**a reset**/
a{
  text-decoration: none;
  color: inherit;
}
a:visited{
  color: inherit;
  text-decoration: none;
}

/***************************************************CSS START****************************************************************/
body{
    position: relative;
    width: 100vw;
    -ms-overflow-style:none;
    background-color: var(--main-black);
    cursor: none;
}

/********************loading********************/
    .loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family:  noah-regural;
    background-color: #fff;
    z-index: 200;
  }


  .animation-title {
    color: #fff;
    font-size: 3.82rem;
    font-weight: 700;
    margin:0 0 0.5rem 0;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  
  .wave {
    animation: moveTheWave 2400ms linear infinite;
    stroke-dasharray: 0 16 101 16;
  }
  
  @keyframes moveTheWave {
  
    0% {
      stroke-dashoffset: 0;
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      stroke-dashoffset: -133;
      transform: translate3d(-90px, 0, 0);
    }
  
  }

  .loader{
    background-color: var(--main-black);
  }

  .loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    color: var(--main-black);
        z-index: 100;
        width: 550px;
        height: 300px;
    text-align: center;
  }
 

.loading-text p{
    font-size:0.8rem;
    line-height: 1.2;
    font-family: noah-bold;
    color: #fff;
    text-transform: uppercase;
}

.loading-text p:first-child{
  font-size: 1.2rem;
  font-weight: 800;
}

.loader-bar{
  position: absolute;
  top: 0;
}


/*******************section 1**********************/
.row{
  padding: 0 70px;
}
/**header**/

header{
  font-family: noah-regular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--main-black);
}


header .logo p{
  line-height: 1.5;
}

header .logo p:first-child{
  font-size: 1.2rem;
  font-weight: 800;
}

header .logo p:nth-child(2){
  font-size: 0.8rem;
}


/**menu**/
header>nav>ul{
  display: flex;
  justify-content: space-between;
}

header>nav>ul li{
  padding: 1.2rem;

}


header>nav>ul li a{
  font-size: 1rem;
  font-weight: 500;
}

header>nav>ul li a:hover{
  opacity: 80%;
}


.hover-span{
  position: relative;
  display: inline-block;
  pointer-events: none;
  transition: transform 0.1s linear;
}


.cursor{
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #fff;
  pointer-events: none;
  position: fixed;
  border-radius: 50%;
  mix-blend-mode: difference;
  transform: translate(-50%,-50%);
  transition: all .3s ease;
  transition-property: background,transform;
  transform-origin: 100% 100%;
  z-index: 10;
}
.hover-span{
  transition: all .3s ease;
}


/**section 1**/
.main{
  width: 100vw;
  position: relative;
  display: flex;
  padding: 1rem 0 5rem 0;
  font-family: noto-black;
}



/**section2**/



.scroll-class{
  opacity: 1;
}